html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Circular';
    src: url(Circular/CircularStd-Book.otf) format('opentype');
}

body {
    font-family: "Circular", Arial, sans-serif !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #10263B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Circular', Arial, Helvetica, sans-serif !important;
}

header {
    font-family: "Circular", Arial, sans-serif;
    position: relative;
    top: 0px;
    width: 100%;
    z-index: 999;
}

img {
    max-width: 100%;
    height: auto;
}

nav.navbar {
    background-color: #fff !important;
}

.collapse.navbar-collapse .nav-link,
.collapse.navbar-collapse .nav-link.active {
    color: #10263B !important;
}

/* Landing.html */

.university-logo {
    max-width: 100%;
    height: 94px;
    aspect-ratio: auto 255 / 94;
    width: 255px;
}

nav.navbar,
a.navbar-brand {
    padding: 0;

}

nav.navbar {
    position: relative;
    align-items: center;
    padding: 0.5rem 0 0.75rem 0;
}

.navbar-desktop {
    padding-left: 25px;
}

.navbar-brand {
    position: relative;
    top: -9px;
    left: -12px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.nav-link {
    margin-right: 1.2rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.overlay-background.day-clear-cloudy {
    background-image: url("Images/University-Day-2.jpg");
}

.overlay-background.day-rain {
    background-image: url("Images/day-raining-3.jpg");
}

.overlay-background.night-clear-cloudy {
    background-image: url("Images/University-Night-2.png");
}

.overlay-background.night-rain {
    background-image: url("Images/night-rain-2.jpg");
}

.overlay-background {
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
    max-width: 100%;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #10263B;
}

.weather-info {
    padding: 2rem;
    margin: auto 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* black background with 50% opacity */
    color: #fff;
    width: max-content;
    /* backdrop-filter: blur(8px); */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* horizontal offset, vertical offset, blur radius, color */
}

.weather-info h1 {
    margin-top: 0;
}

h1.current-weather-condition {
    margin-bottom: 0;
}

.scroll-down {
    position: relative;
    text-align: center;
    bottom: 1rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.scroll-down .bi.bi.bi-chevron-double-down {
    margin-right: 0;
}

.bi.bi-chevron-double-down::before {
    transform: scale(3, 1.5);
}

.weather-forecast-title {
    text-align: center;
    background-color: #10263B;
    color: #fff;
    padding: 1.618rem 0;
    margin: 1.618rem 0;
}

.caption {
    font-size: 18px;
    text-align: center;
    color: #10263B;
}

.no-more-info-text {
    text-align: center;
    margin-bottom: 0;
}

.container-fluid.further-weather-info {
    width: 90%;
    border: none;
    /* Remove the border around the container */
    padding: 2.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}

.desktop.further-weather-info {
    padding: 0.5rem;
}

.desktop .further-current-weather {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-right: 1px solid #10263B;
    border-bottom: 1px solid #10263B;
}

.desktop .further-current-weather:last-child {
    border-right: none;
    /* Remove the right border from the last cell in each row */
}

.desktop .row:last-child .further-current-weather {
    border-bottom: none;
    /* Remove the bottom border from the last row */
}

/* #pressure-thermometer {
    image: url(Images/thermometer.svg);
    width: 30px;
    height: 30px;
    display: block;
}
*/

.material-icons {
    width: 30px !important;
    height: 30px !important;
    max-width: 100%;
    font-size: 30px !important;
    margin-right: 1rem;
}

/* .container-fluid.hourlyWeatherDisplay {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    transition: 1s;
    justify-content: center;
}

.container.hourly-weather {
    position: relative;
    display: inline-block;
    width: 25%;
    flex-shrink: 0;
    white-space: normal;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
}
 */
.accordion {
    width: 80%;
    max-width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid.hourly-weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.col-4 {
    width: 100%;
}

.weather-hour-group,
.temp-feels-like-group,
.chance-of-prep-group,
.weather-condition-group {
    display: flex;
    align-items: center;
}

.weather-hour-group {
    margin-right: 3rem;
}

.temp-feels-like-group {
    display: flex;
    text-align: left;
    justify-content: left;
    white-space: nowrap;
}

.weather-hour {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1rem;
}

.bi {
    font-size: 2rem;
    margin-right: 1rem;
}

img.api-icon {
    margin-right: 1rem;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));
}

.hourly-temperature {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1rem;
}

.temp-feels-like {
    margin-left: 0;
    margin-right: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

.chance-of-prep {
    margin-bottom: 0;
    margin-top: 0;
}

.chance-of-prep-group {
    display: flex;
    margin-left: -3rem;
    margin-right: 0;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.bi.bi-droplet {
    margin-right: 0;
}

.weather-condition-text {
    margin-left: 1.7rem;
    margin-bottom: 0;
    margin-right: 1rem;
}

.hourly-weather-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather-value {
    margin-left: auto;
}

p.hourly-weather-info,
p.weather-value {
    margin-bottom: 0;
}

.row p.hourly-weather-info {
    border-bottom: 1px solid #000;
    padding: 11px 0 10px;
}

.row.last-row p.hourly-weather-info {
    border-bottom: 0px solid;
}

.accordion-header {
    margin-top: 0;
}

.accordion-body {
    padding-top: 5px;
}

.accordion-button {
    background-color: white;
    border-bottom: none !important;
    box-shadow: none !important;
    color: #10263B !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: #10263B !important;
    box-shadow: none !important;
    color: white !important;
}

.accordion-button:not(.collapsed)::after {
    color: white !important;
}

h5.weather-description,
h5.weather-description-text.d-sm-none {
    margin-top: 8px;
}



/* .accordion-button::after {
    font-family: "bootstrap-icons" !important;
    content: "\f282" !important; 
    float: right !important;
    transform-origin: center !important;
}

.accordion-button::after {
    background-image: none !important;
}

.accordion-button.collapsed::after {
    transform: rotate(0deg) !important;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg) !important;
}

 */

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e") !important;
}

.more-info-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.more-info-button {
    display: inline-block;
    background-color: #10263B;
    color: #fff;
    padding: 15px;
    text-decoration: none;
    margin: 1.618rem;
}

@media (max-width: 991px) {
    nav.navbar {
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        font-size: 1.25rem;
        text-decoration: none;
        white-space: nowrap;
    }

    .navbar-brand {
        top: -5px;
    }

    .university-logo {
        width: 217px;
        aspect-ratio: auto 217 / 80;
        height: 80px;
    }

    h1.hourly-temperature {
        font-size: 1.8rem;
    }

    h2.temp-feels-like {
        margin-right: 1.5rem;
    }

    h2.temp-feels-like,
    h2.chance-of-prep {
        font-size: 1.2rem;
    }

    .bi {
        font-size: 1.2rem;
    }

    .weather-condition-text {
        font-size: 1.8rem;
    }
}

@media (max-width: 767px) {
    .mobile .further-current-weather:first-child {
        border-right: 1px solid #10263B;
    }

    .mobile .further-current-weather {
        text-align: center;
        padding: 1.618rem;
        border-bottom: 1px solid #10263B;
    }

    .mobile .further-current-weather h5.weather-category {
        margin: 10px auto;
    }

    .mobile .further-current-weather .bi,
    .material-icons {
        font-size: 28px;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile .row:last-child .further-current-weather {
        border-bottom: 0px;
    }

    .row.last-row p.hourly-weather-info {
        border-bottom: 1px solid #10263B;
    }

    .row.last-row p#md-hide-border {
        border-bottom: 0px solid;
    }
}

@media (max-width: 575px) {
    .weather-info h1 {
        font-size: 1.5rem;
    }

    .mobile .container-fluid.further-weather-info {
        padding: 1.618rem;
    }

    .mobile .further-current-weather {
        border-right: none;
        border-bottom: 1px #10263B solid;
        padding: 1rem;
    }

    .mobile .further-current-weather:first-child {
        border-right: none;
    }

    .mobile .row:last-child .further-current-weather {
        border-bottom: 1px solid #10263B;
    }

    .mobile .row:last-child .further-current-weather.right-col {
        border-bottom: 0;
    }

    .university-logo {
        width: 176px;
        aspect-ratio: auto 176 / 65;
        height: 65px;
    }

    .weather-info {
        text-align: center;
        width: auto;
    }

    .container-fluid.hourly-weather-header,
    .container-fluid.hourly-weather {
        padding-left: 0;
        padding-right: 0;
    }

    .accordion-body {
        padding: 5px;
    }

    h4.hourly-date,
    h4.daily-date {
        font-size: 1.2rem;
    }

    h1.current-weather-condition,
    h1.current-weather-condition-mobile {
        margin-bottom: 10px;
    }

    .more-info-section {
        display: block;
    }

    #more-daily-button {
        margin-top: 0;
    }
}

@media (max-width: 320px) {

    h1.hourly-temperature {
        font-size: 1rem;
        margin-right: 0.5rem;
    }

    p.weather-hour {
        margin-right: 0.5rem;
    }

    .bi.bi-sun,
    .bi-cloud,
    .bi-cloud-rain {
        margin-right: 0.3rem;
    }

    h2.weather-condition-text {
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-left: 0;
    }

    h2.chance-of-prep {
        font-size: 1rem;
    }
}

/* hourlyWeather.html */

#hourlyWeatherFile-Desktop .nav.nav-pills {
    justify-content: center;
}

#hourlyWeatherFile-Desktop .nav-pills .nav-link {
    color: #10263B;
}

#hourlyWeatherFile-Desktop button.nav-link {
    margin-right: 0;
}

#hourlyWeatherFile-Desktop .nav.flex-column.nav-pills.me-3 {
    margin-right: 0;
}

#hourlyWeatherFile-Desktop .nav-pills .nav-link.active {
    background-color: #10263B;
    color: white;
}

#todayDate,
#tmrDate,
#overmorrowDate,
#nextMorrowDate {
    white-space: nowrap;
}

#hourlyWeatherFile-Desktop .tab-content {
    width: 100%;
    max-width: 100%;
}

#hourlyWeatherFile-Desktop .accordion {
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
}

#hourlyWeatherFile-Desktop .weather-hour-group {
    margin-right: 2.6vw;
}

#hourlyWeatherFile-Desktop .chance-of-prep-group {
    margin-left: -2.6vw;
}

#hourlyWeatherFile-Desktop .date-header {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 95%;
    max-width: 100%;
}

#hourlyWeatherFile-Mobile .date-header {
    margin-top: 0;
}

#hourlyWeatherFile-Mobile .accordion {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

p.daily-weather-info,
p.weather-value {
    margin-bottom: 0;
}


@media (max-width: 767px) {
    #accordionHourlyTodayMobile .accordion .daily-weather-info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #accordionHourlyTodayMobile .accordion .row p.daily-weather-info {
        border-bottom: 1px solid #000;
        padding: 11px 0 10px;
    }

    #accordionHourlyTodayMobile .accordion .row.last-row p.daily-weather-info {
        border-bottom: 0px solid;
    }
}

/* dailyWeather.html */

#accordionDaily .container-fluid.daily-weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#accordionDaily .weather-day-group {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 2.6vw;
}

#accordionDaily .day-temperature,
#accordionDaily .night-temperature {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#accordionDaily .day-temperature .bi-sun,
.night-temperature .bi-moon {
    margin-right: 0.5rem;
}

#accordionDaily .current-day-date {
    text-align: center;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#accordionDaily .temp-feels-like-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#accordionDaily .temp-feels-like-group .temp-feels-like-day {
    margin-top: 0;
    margin-bottom: 0;
}

#accordionDaily .temp-feels-like-group .temp-feels-like-night {
    margin-top: 10px;
    margin-bottom: 0;
}

#accordionDaily .chance-of-prep-group {
    margin-left: -2.6vw;
}

p.daily-weather-info,
p.weather-value {
    margin-bottom: 0;
}

#accordionDaily .daily-weather-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#accordionDaily .row p.daily-weather-info {
    border-bottom: 1px solid #000;
    padding: 11px 0 10px;
}

#accordionDaily .row.last-row p.daily-weather-info {
    border-bottom: 0px solid;
}

@media (max-width: 991px) {
    #accordionDaily .temperature-group {
        font-size: 16px;
    }

    #accordionDaily .temp-feels-like-group .temp-feels-like-day {
        font-size: 16px;
    }

    #accordionDaily .temp-feels-like-group .temp-feels-like-night {
        font-size: 16px;
    }

    #accordionDaily .weather-day-group {
        margin-right: 12vw;
    }

    #accordionDaily .chance-of-prep-group {
        margin-left: -12vw;
    }

    #accordionDaily .temp-feels-like-group {
        margin-right: 0.5rem;
    }
}

@media (max-width: 767px) {
    #accordionDaily .row.last-row p.daily-weather-info {
        border-bottom: 1px solid #10263B;
    }

    #accordionDaily .row.last-row p#md-hide-border.daily-weather-info {
        border-bottom: 0px solid !important;
    }
}

/* AI_prediction.html */

#AI-prediction .further-current-weather:first-child {
    border-right: 1px solid #10263B;
}

#AI-prediction .further-current-weather {
    text-align: center;
    padding: 1.618rem;
    border-bottom: 1px solid #10263B;
}

#AI-prediction .further-current-weather h5.weather-category {
    margin: 10px auto;
}

#AI-prediction .further-current-weather .bi,
#AI-prediction .material-icons {
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
}

#AI-prediction .row:last-child .further-current-weather {
    border-bottom: 0px;
}

@media (max-width: 575px) {
    #AI-prediction .container-fluid.further-weather-info {
        padding: 1.618rem;
    }

    #AI-prediction .further-current-weather {
        border-right: none;
        border-bottom: 1px #10263B solid;
        padding: 1rem;
    }

    #AI-prediction .further-current-weather:first-child {
        border-right: none;
    }

    #AI-prediction .row:last-child .further-current-weather {
        border-bottom: 1px solid #10263B;
    }

    #AI-prediction .row:last-child .further-current-weather.right-col {
        border-bottom: 0;
    }
}

@media (max-width: 767px){
    #AI-prediction .actual-forecast {
        margin-top: 1.618rem;
    }
}